%body
  %header
    %h1 Movies
    %ul.actions
      %li= link_to "New Movie", new_movie_path, class: "new btn btn-info" if policy(@movies).create?

.row
  .col-md-12
    .panel.panel-default
      .panel-heading Search Movies
      .panel-body
        = render "movies_search"

.row
  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th Movie ID
          %th Title
          %th Content
          %th Category
          %th Rating
          %th Actions
      %tbody
        - @movies.each do |movie|
          = render "movies/movie", movie: movie
.row
  .col-md-3.col-md-offset-9
    = will_paginate @movies, renderer: BootstrapPagination::Rails